ul {
    list-style-type: none;
}

/* map */
#map {
    height: 100%;
    width: 85%;
    float: right;
}

#map img {
    max-width: none;
}

/* color map */
#sidebar {
    width: 15%;
    position: fixed;
    height: 100%;
}

#sidebar header {
    text-align: center;
}

#sidebar header h3{
    margin-top: 30px;
    font-size: 30px;
}

#sidebar > .sidebar-options {
    margin-top: 40px;
    margin-left: 10px;
}

.dropdown-menu {
    height: 250px;
    overflow: hidden;
    overflow-y: scroll;
}

/* search box */
.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#target {
    width: 345px;
}

#street_view {
    height:200px;
    width:100%;
    position:absolute;
    top:0;
    left:20%;
    z-index:1; 
}

/* toggle panel */
/*#floating-panel {
position: absolute;
top: 10px;
left: 25%;
z-index: 5;
background-color: #fff;
padding: 5px;
border: 1px solid #999;
text-align: center;
font-family: 'Roboto','sans-serif';
line-height: 30px;
padding-left: 10px;
}*/